@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

:root {
    --background-low: rgba(0, 0, 0, 0.2);
    --background-active: rgba(0, 0, 0, 0.5);
    --background-button: rgba(255, 255, 255, 0.3);
    --background-button-active: rgba(255, 255, 255, 0.8);
    --background: #0c111c;
}

/* Default */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Main Content */

body,
html {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
}

.bg {
    height: auto;
    background-image: url('https://mimir-gxp.github.io/public/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-transform: uppercase;
    font-size: 45px !important;
}

#main {
    min-height: 100vh;
    margin: 0 auto;
    position: relative;
}

section.content {
    color: aliceblue;
}

section.content h1 {
    padding-top: 180px;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
    font-size: 35px;
}


section.content p {
    color: aliceblue;
    padding-left: 30px;
    padding-top: 30px;
    text-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
}

section.content br {
    margin-top: 1500px !important;
}



/* Header, NavBar, Footer */

/* header */

section.top-page {
    background: var(--background-low);
    top: 0;
    position: fixed;
    width: 100%;

    height: 130px;
    transition: 0.2s;
    z-index: 1;
}

section.top-page.active {
    background-color: transparent;
    backdrop-filter: blur(20px);

}

header {
    display: flex;
    align-items: center;
}

header img {
    border-radius: 50%;
    width: 90px;
    margin: 15px;
    margin-left: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

header h1 {
    color: aliceblue;
    font-size: 58px;
    margin-left: 20px;
    text-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
}

/* nav bar */

nav.nav {
    margin-left: auto;
    padding-right: 90px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 450px;
}

#main > section.top-page > header > nav > div > li:nth-child(1) > a {
    background-color: rgb(154, 102, 238);
    padding: 5px 20px;
    border-radius: 35px;
}
#main > section.top-page > header > nav > div > li:nth-child(1) > a:hover {
    color: var(--background);
}

nav.nav li a {
    color: aliceblue;
    cursor: pointer;
    font-size: 20px;
    text-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);
    text-decoration: none;
    transition: all .3s ease;
    text-transform: uppercase;
}

nav.nav li a:hover {
    color: rgb(154, 102, 238);
}

/* footer */

footer {
    background-color: var(--background-low);
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 25px;
    height: 50px;
}

.footer_text {
    color: aliceblue;
    text-align: center;
}

/* form */

.form {
    padding-top: 180px;
    padding-bottom: 188px;
}

form {
    background: var(--background-low);
    width: 50%;
    padding: 20px;
    border-radius: 30px;
    display: block;
    margin: auto;
}

form h1 {
    text-shadow: none !important;
    padding-top: 10px !important ;
}

form label {
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 10px 10px 0px;
}

form hr {
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, aliceblue, transparent) 1;
    margin-top: -10px !important;
    margin-bottom: 15px !important;
}

form input {
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    display: block;
    margin: auto;

    background-color: var(--background-low);
    border: 0px solid;
    color: aliceblue;

    transition: all 0.3s ease;

}

form textarea {
    resize: none;
    width: 90%;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    display: block;
    margin: auto;

    background-color: var(--background-low);
    border: 0px solid;
    color: aliceblue;

    transition: all 0.3s ease;
}

form button {
    margin-top: 20px !important;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin: auto;
    width: 50%;

    background-color: var(--background-low);
    border: 0px solid;
    color: aliceblue;
    cursor: pointer;

    transition: all 0.3s ease;
}

form input:hover {
    background-color: var(--background-active);
}

form textarea:hover {
    background-color: var(--background-active);
}

form button:hover {
    background-color: var(--background-active);
}


/* Projet Web */

.pweb {
    border-radius: 20px;
    width: 60%;
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 120px;
    transition: all 0.3s ease;
}

.pweb:hover {
    transform: translateY(-10px);
}

.pweb .preview {
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.5);

}

.pweb .img-container {
    position: relative;
    width: 100%;
    background-color: var(--background);
    border-radius: 20px 20px 0px 0px;
    height: 80%;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);

}

.pweb .img-container .logo-obsidian {
    width: 20%;
    padding-top: 10px;
    padding-left: 20px ;
}



.pdesign-container {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.pdesign {
    border-radius: 20px;
    width: 30%;
    margin-top: 30px;
    padding: 10px;
    transition: all 0.3s ease;
}
.pdesign:hover {
    transform: translateY(-10px);
}

.pdesign .preview {
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 20px 20px;
}

.pdesign .img-container {
    width: 100%;
    background-color: var(--background);
    border-radius: 20px 20px 0px 0px;
    height: 80%;
    box-shadow: 0px 10px 10px rgb(0, 0, 0, 0.5);
    border-radius: 30px;

}

.pdesign .img-container a {
    display: flex;
    place-content: center;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
}

/* TODO A PROPOS */









/* scroll bar */

::-webkit-scrollbar {
    width: 15px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #141d2c;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0c111ce0;
    border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0c111c;
  }





/* Responsive */

label,
#toggle {
    display: none;
}

.top-page label:after {
    display: none;
}

@media all and (max-width: 991px) {

    nav.nav {
        display: none;

    }

    .top-page label {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding-right: 35px;
        font-size: 40px;
        color: white;
        cursor: pointer;
        z-index: 1;
        font-weight: 600;
    }

    .open.active {
        display: none !important;
    }

    .close.active {
        display: none !important;
    }

    .nav-content {
        display: block;
        flex-direction: column;
        margin: auto;
        justify-content: space-between;
        width: 350px;
        padding-top: 40%;
    }

    nav.nav {
        display: none;
        flex-direction: column;
        background: var(--background-low);
        backdrop-filter: blur(50px) brightness(70%);
        height: 150vh;
        padding-top: 220px;
        padding-bottom: 150px;
        width: 100%;
        position: absolute;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.4);
        text-align: center;
    }

    nav.nav li {
        padding: 20px;
        height: 20px;
        transition: all 0.3s ease;
        padding: 40px;
    }

    nav.nav li:hover {
        transform: scale(1.1);
    }

    nav.nav li a {
        font-size: 30px;
    }

    nav.nav li a:hover {
        color: rgb(177, 136, 241) !important;
    }

    #toggle:checked+.nav {
        display: flex;
    }

    form {
        width: 85%;
    }

    .pweb .img-container .logo-obsidian {
        width: 50%;
    }
    .pweb {
        width: 90%;
    }

    .pdesign {
        width: 90%;
    }

    #main > section.top-page > header > nav > div > li:nth-child(1) > a {
        background-color: transparent
    }

    h1 {
        font-size: 25px !important;
    }

}

@media all and (max-width: 600px) {

    .nav-content {
        padding-top: 85%;
    }
}